
body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}


.card-container {
  border: .5px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.week-view {

  margin: 4px;
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-start;
  background: rgba(255, 255, 255, .2);
}
.day{
  margin: 4px;
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  background: rgba(224, 21, 21, 0.2);
}

.card-day {
  width: 100%;
  margin: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.day-tasks {
  width: 125px;
  padding: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: rgba(93, 78, 78, 0.2);
  border-bottom: .5px solid black;
}

.complete-tasks {
  text-decoration: line-through;
}

/* .card-day:hover {
  margin: 4px;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, .6);
  border: .5px solid red;
  border-radius: 2%;
  color:black;
  position: relative;
  top: -5px;
} */

/* .category-description {
  width: 275px;
  text-align: center;
  padding: .4em;
  padding-bottom: 1em;
} */
