/* overall styling */
#app {
  width: 1280px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}
/* body {
  font-family: sans-serif;
} */

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.center {
  margin: auto;
  padding: 10px;
}

/* header: logo, welcome, add Task form */
.header {
  display: flex;
  flex-direction: row;
  font-family: Impact;
  border: 1px solid red;
}
.logo-title {
  display: flex;
}
.title {
  display: flex;
  flex-direction: column;
}
#week-nav-add-task {
  display: flex;
  flex-direction: row;
}
.add-task-form {
  margin: 10px;
  padding-left: 10px;
  align-content: center;
  display: flex;
  flex-direction: row;
}
/* tasklist */

#task-list {
  display: flex;
  flex-direction: column;
}
#week-nav-bar {
  display: flex;
  flex-direction: row;
}

.week-view {
  display: flex;
}

.day-column {
  width: 100%;
}
.today {
  width: 100%;
  border: 1px solid black;
}


/* days of the week with date */
.day-date{
  margin: 4px;
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  background: rgba(224, 21, 21, 0.2);
}


/* daily row of tasks */
.day-task-list {
  width: 100%;
  margin: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
/* individual tasks */
.day-task {
  padding: 7px;
  margin-right: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: rgba(93, 78, 78, 0.2);
  border-bottom: .5px solid black;
}
.task-button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.complete-tasks {
  text-decoration: line-through;
  text-decoration-color: red;
  color: #b5adad;
}
