/* General */
#app {
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}
/* body {
  font-family: sans-serif;
} */

a {
  text-decoration: none;
}
p {
  text-align: center;
}
label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.center {
  margin: auto;
  padding: 10px;
}

/* header: logo, welcome, add Task form */
.header {
  display: flex;
  flex-direction: column;
}
#logo {
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.logo-title {
  display: flex;
  margin: auto;
}
.title {
  display: flex;
  flex-direction: column;
  font-family: Impact;
}
#login-nav {
  background-color: rgba(224, 21, 21, 0.2);
}

/* Week Nav */
#week-nav-add-task {
  display: flex;
  flex-direction: row-reverse;
}
#week-nav-buttons {
  display: flex;
  flex-direction: row;
}
.add-task-form {
  margin: 10px;
  padding-left: 10px;
  align-content: center;
  display: flex;
  flex-direction: row;
}
/* tasklist */

#task-list {
  display: flex;
  flex-direction: column;
}
#week-nav-bar {
  display: flex;
  flex-direction: row;
}

.week-view {
  display: flex;
}

.day-column {
  width: 100%;
}
.today {
  width: 100%;
  border: 1px solid black;
}


/* days of the week with date */
.day-date{
  margin: 4px;
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  background: rgba(224, 21, 21, 0.2);
}


/* daily row of tasks */
.day-task-list {
  width: 100%;
  margin: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
/* individual tasks */
.day-task {
  padding: 7px;
  margin-right: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: rgba(93, 78, 78, 0.2);
  border-bottom: .5px solid black;
}
.task-button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.complete-tasks {
  text-decoration: line-through;
  text-decoration-color: red;
  color: #b5adad;
}

/************* Break Points Based on Screen Width *************/
@media screen and (max-width: 800px){
  /****** General *******/
  #app {
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
  }

  /****** Week Nav & Add Task Form *******/
  #week-nav-add-task {
    display: inline;
  }
  .add-task-form {
    margin: 10px;
    padding-left: 10px;
    align-content: center;
    display: flex;
    flex-direction: column;
  }
  /****** TaskList *******/
  .week-view {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .day-column {
    width: 25%;
  }
  .today {
    width: 25%;
  }
}

@media screen and (max-width: 400px){
  /****** General *******/
  #app {
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
  }

  /****** Week Nav & Add Task Form *******/
  #week-nav-add-task {
    display: inline;
  }
  .add-task-form {
    margin: 10px;
    padding-left: 10px;
    align-content: center;
    display: flex;
    flex-direction: column;
  }
  /****** TaskList *******/
  .week-view {
    display: flex;
    flex-direction: column;
  }
  .day-column {
    width: 270px;
    margin-bottom: 10px;
    border: 1px solid rgba(224, 21, 21, 0.4);
    border-left: 5px solid rgba(224, 21, 21, 0.4);
  }
  .today {
    width: 100%;
    margin-bottom: 10px;
    border-left: 5px solid black;
  }
}


